.loc {
    height: 200px;
}

.cardLoc {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;

}

.homebtns {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 20px;
}
.headerCards {
    border-radius: 0 !important;
}
.cardSchedule {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}
nav {
    width: 100%;
}

body{ 
    //background-color: #1B1B1B;
    background-color: #E6F6FF;
}
.chatbot{
    position: fixed;
    border-radius: 50%;
    padding: 20px;
    font-size: 15px;
    right: 10px;
    bottom: 10px;

}

iframe {
    width: 100%;
    height: 600px;
    min-height: 500px;
}

@media only screen and (max-height: 666px) {
    iframe {
        height: 400px;
    }
}



